#divCatenaria {
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.functionGraph {
    stroke-width: 3px;
    stroke: green;
    fill: none;
}

div > svg { 
    border: 1px dotted blue; 
    max-height:100%;
    max-width:100%;
}